body,
html {
  height: 100%;
  background-color: #fcfcfc;
}

h1 {
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 100px;
  font-weight: bold;

  max-width: 70%;
  margin: auto;
}

h2 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;

  max-width: 70%;
  margin: auto;
}

header.header .scrolldown, header.header .scrolltop {
  position: fixed;
  z-index: 9;
  line-height: 1;
  transform: rotate(-90deg);
  pointer-events: none;
  bottom: 25px;
  left: -5px;
  z-index: 101 !important;
  transition: color 150ms linear 0ms, opacity 250ms linear 0ms;
}

header.header .scrolldown > .txt, header.header .scrolltop > .txt {
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 10px;
}
header.header .scrolldown > .txt span, header.header .scrolltop > .txt span {
  display: inline-block;
  transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform: translateX(5px);
}
header.header .scrolldown.dark, header.header .scrolltop.dark {
  color: #1c1b20 !important;
}
header.header .scrolldown.dark svg > *, header.header .scrolltop.dark svg > * {
  fill: #1c1b20 !important;
  transition: fill 150ms linear 0ms;
}
header.header .scrolldown {
  transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
header.header .scrolldown .arrow {
  animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
header.header .scrolltop {
  left: inherit;
  transform: rotate(90deg);
  pointer-events: all;
  color: inherit;
  text-decoration: none !important;
  transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  right: 5px;
  bottom: -100px;
}
@media (min-width: 767px) {
  header.header .scrolltop {
    right: 40px;
  }
}
@media (min-width: 1600px) {
  header.header .scrolltop {
    right: 55px;
  }
}
header.header .scrolltop.visible {
  opacity: 1;
  bottom: 25px;
  transition: bottom 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
@media (min-width: 767px) {
  header.header .scrolltop.visible {
    bottom: 38px;
  }
}
@media (min-width: 1600px) {
  header.header .scrolltop.visible {
    bottom: 53px;
  }
}
.menuOpen header.header .scrolltop {
  opacity: 0;
  transition-delay: 0ms;
}
header.header .scrolltop > .txt {
  margin-left: 5px;
}

.list-socials {
  padding: 0px;
  margin: auto;
  list-style: none;
}
header.header .list-socials {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 20px;
  z-index: 500;
  transform: translate(50%, -50%);
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
@media (min-width: 1600px) {
  header.header .list-socials {
    right: 27.5px;
  }
}
.menuOpen header.header .list-socials {
  transform: translate(-10px, -50%);
}
#menu .list-socials li {
  display: inline-block;
}
.list-socials li a {
  line-height: 50px;
  display: block;
  text-align: center;
}
.list-socials li a .icon {
  display: inline-block;
  vertical-align: middle;
}
.list-socials li a .icon img {
  width: 30px;
  height: 30px;
}

footer.footer {
  position: relative;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 40px;
  z-index: 0;
}
@media (min-width: 992px) {
  footer.footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  footer.footer {
    padding: 0px;
  }
}
footer.footer .padding {
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1199px) {
  footer.footer .padding {
    padding-right: 40px;
    padding-left: 100px;
  }
}
@media (max-width: 991px) {
  footer.footer .padding {
    padding-left: 80px;
  }
}
@media (max-width: 766px) {
  footer.footer .padding {
    padding-right: 0px;
    padding-left: 0px;
    display: block;
  }
}
@media (min-width: 1200px) {
  footer.footer .padding {
    height: 30vh;
  }
}

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  margin-top: 0px !important;
}

body {
  height: 100%;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: #1c1b20;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}
body.loading {
  overflow: hidden;
}
body.loading > * {
  pointer-events: none;
}
body.openPopup, body.menuOpen {
  overflow: hidden;
}

.borders > * {
  position: fixed;
  z-index: 100;
  background: white;
  height: 20px;
  width: 20px;
  pointer-events: none;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform-origin: center center;
  transform: translate(0, 0) scale(1);
}
.menuOpen .borders > * {
  transform: translate(0, 0%) scale(1) !important;
}
@media (min-width: 767px) {
  .menuOpen .borders > * {
    transform: translate(0, 0%) scale(2) !important;
  }
}
.borders > *.top {
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: top center;
}
@media (max-width: 766px) {
  .borders > *.top {
    transform: translate(0, -100%) scale(1);
  }
}
@media (min-width: 767px) {
  .borders > *.top {
    height: 40px;
  }
}
@media (min-width: 1600px) {
  .borders > *.top {
    height: 55px;
  }
}
.borders > *.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transform-origin: bottom center;
}
@media (max-width: 766px) {
  .borders > *.bottom {
    transform: translate(0, 100%) scale(1);
  }
}
@media (min-width: 767px) {
  .borders > *.bottom {
    height: 40px;
  }
}
@media (min-width: 1600px) {
  .borders > *.bottom {
    height: 55px;
  }
}
.borders > *.right {
  top: 0;
  right: 0;
  height: 100%;
  transform-origin: right center;
}
@media (max-width: 766px) {
  .borders > *.right {
    transform: translate(100%, 0px) scale(1);
  }
}
@media (min-width: 767px) {
  .borders > *.right {
    width: 40px;
  }
}
@media (min-width: 1600px) {
  .borders > *.right {
    width: 55px;
  }
}
.borders > *.left {
  top: 0;
  left: 0;
  height: 100%;
}
@media (max-width: 766px) {
  .borders > *.left {
    transform: translate(-100%, 0px) scale(1);
  }
}
@media (min-width: 767px) {
  .borders > *.left {
    width: 40px;
  }
}
@media (min-width: 1600px) {
  .borders > *.left {
    width: 55px;
  }
}

.app {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center 50vh;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  pointer-events: none;
  min-height: 100vh;
}
body:not(.page-home).menuOpen .app {
  overflow: hidden;
  transform: scale(0.9);
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media (min-width: 767px) {
  body:not(.page-home).menuOpen .app {
    transform: translateX(25%) scale(0.9);
  }
}

.page-container {
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  pointer-events: all;
  min-height: 100vh;
}
body.menuOpen .page-container {
  pointer-events: none;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  opacity: 1;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms, opacity 250ms cubic-bezier(1, 0, 0, 1) 0ms, visibility 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
  visibility: hidden;
}
@media (min-width: 767px) {
  .loader {
    right: 0px;
    bottom: 0px;
  }
}
.loader .loader-visuel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.loader .loader-visuel image {
  clip-path: url(#clipping);
}
.loader .color {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(2, 100%, 50%);
  transition: background 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
body.loaded.menuHover .loader,
body.loaded.menuOpen .loader {
  opacity: 0;
  visibility: hidden !important;
  transform: translate(0, 0) !important;
}
body.loading .loader {
  opacity: 1;
  visibility: visible !important;
  transform: translate(0, 0) !important;
}

.page {
  position: relative;
  min-height: 100vh;
  z-index: 10;
  overflow: hidden;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms, padding 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.page > section.intro h1 {
  margin-bottom: 60px;
}
@media (min-width: 480px) {
  .page > section.intro h1 {
    position: absolute;
    top: 50vh;
    padding-bottom: 80px;
    transform: translateY(-100%);
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .page > section.intro h1 {
    left: 15vw;
    margin-top: 0px;
    margin-top: -20px;
    transform: translateY(-50%);
    margin: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .page > section.intro h1 {
    left: 20%;
  }
}
@media (min-width: 1600px) {
  .page > section.intro h1 {
    left: 22%;
  }
}
.page > section.intro > .padding {
  padding-top: 30vh;
  padding-bottom: 60px;
}
@media (min-width: 480px) and (max-width: 991px) {
  .page > section.intro > .padding {
    padding-top: calc(60vh);
    padding-bottom: 100px;
  }
}
@media (min-width: 767px) {
  .page > section.intro > .padding {
    padding-right: 20vw;
    padding-top: calc(70vh);
  }
}
@media (min-width: 992px) {
  .page > section.intro > .padding {
    height: 100vh;
    padding-top: 50vh;
  }
}
@media (min-width: 1200px) {
  .page > section.intro > .padding {
    padding-right: 20%;
  }
}
@media (min-width: 1600px) {
  .page > section.intro > .padding {
    padding-right: 22%;
  }
}

.padding {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 60px 40px;
}
@media (min-width: 480px) {
  .padding {
    padding: 100px 10vw;
  }
}
@media (min-width: 767px) {
  .padding {
    padding: 10vh 20vw;
  }
}
@media (min-width: 992px) {
  .padding {
    padding: 10vh 15vw;
  }
}
@media (min-width: 1200px) {
  .padding {
    padding: 20vh 165px 20vh 20%;
  }
}
@media (min-width: 1600px) {
  .padding {
    padding: 20vh 165px 20vh 22%;
  }
}
.padding a {
  pointer-events: all;
}

.page-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.hideNav .borders > *.top,
.first .borders > *.top {
  transform: translate(0, -100%) scale(1);
}
.hideNav .borders > *.bottom,
.first .borders > *.bottom {
  transform: translate(0, 100%) scale(1);
}
.hideNav .borders > *.left,
.first .borders > *.left {
  transform: translate(-100%, 0%) scale(1);
}
.hideNav .borders > *.right,
.first .borders > *.right {
  transform: translate(100%, 0%) scale(1);
}
.hideNav #menu,
.first #menu {
  left: 0px;
}
.hideNav header.header .navbar-brand,
.first header.header .navbar-brand {
  transform: translate(0px, 10px);
}
@media (min-width: 767px) {
  .hideNav header.header .navbar-brand,
  .first header.header .navbar-brand {
    transform: translate(40px, 40px);
  }
}
.hideNav header.header .navbar-brand .sub-page,
.first header.header .navbar-brand .sub-page {
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  transition-delay: 0ms;
}
.hideNav header.header .navbar-toggle,
.first header.header .navbar-toggle {
  transform: translateY(-100px);
}
@media (min-width: 767px) {
  .hideNav header.header .navbar-toggle,
  .first header.header .navbar-toggle {
    transform: translateX(-100px);
  }
}
.hideNav header.header .switch-lang,
.first header.header .switch-lang {
  transform: translateY(-60px);
}
.hideNav header.header .list-socials,
.first header.header .list-socials {
  transform: translateX(60px);
}

.loadProject header.header .navbar-toggle {
  transform: translateY(-100px);
}
@media (min-width: 767px) {
  .loadProject header.header .navbar-toggle {
    transform: translateX(-100px);
  }
}

.first header.header .navbar-brand {
  transform: translate(0px, -40px);
  opacity: 0;
}
.first header.header .scrolldown {
  opacity: 0 !important;
}

@-webkit-keyframes bounce {
  from {
  }
  to {
  }
}
@-moz-keyframes bounce {
  from {
  }
  to {
  }
}
@keyframes bounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
svg {
  display: block;
}

.icon {
  display: block;
}
.icon svg {
  display: block;
}
.icon.waves path {
  fill: #1c1b20;
}

img.img-fluid {
  width: 100%;
}
img.lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms linear 50ms;
  -moz-transition: opacity 400ms linear 50ms;
  transition: opacity 400ms linear 50ms;
}
img.lazy.lazyloaded {
  opacity: 1;
}

.phone_portrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 24000;
  display: none;
}
@media screen and (orientation: landscape) and (max-width: 767px) {
  .phone_portrait {
    display: block;
  }
}
.phone_portrait .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone_portrait .inner .icon {
  display: block;
  width: 75px;
  margin: 0px auto 20px;
}
.phone_portrait .inner p,
.phone_portrait .inner .yswyw-content ul,
.yswyw-content .phone_portrait .inner ul {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.4;
}
.phone_portrait .inner p strong,
.phone_portrait .inner .yswyw-content ul strong,
.yswyw-content .phone_portrait .inner ul strong {
  color: #000;
  font-weight: 500;
}

h1 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 8rem;
  margin-bottom: 40px;
  position: relative;
}
@media (min-width: 350px) {
  h1 {
    font-size: 10rem;
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: 13.6rem;
    margin-bottom: 60px;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 13.6rem;
    margin-bottom: 80px;
  }
}
h1 .waves {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-30px);
}
@media (min-width: 1600px) {
  h1 .waves {
    transform: translateY(-50px);
  }
}
h1 .waves svg {
  width: 50px;
  height: 10px;
}
@media (min-width: 1600px) {
  h1 .waves svg {
    width: 70px;
    height: 15px;
  }
}
h1 .waves svg > * {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 5px;
}

h2 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 3.2rem;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 4.7rem;
  }
}
@media (min-width: 1600px) {
  h2 {
    font-size: 6.2rem;
  }
}

h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 40px;
  line-height: 1.2;
  font-size: 2.4rem;
}
@media (min-width: 767px) {
  h3 {
    font-size: 3.6rem;
    line-height: 1.1;
  }
}
@media (min-width: 992px) {
  h3 {
    font-size: 2.8rem;
    line-height: 1.2;
  }
}
@media (min-width: 1600px) {
  h3 {
    font-size: 3.8rem;
  }
}
h3 .dot {
  display: inline-block !important;
}

.block-title {
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 25px;
}
@media (min-width: 1600px) {
  .block-title {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}
.block-title > * {
  display: inline-block;
  vertical-align: middle;
}
.block-title .mskd {
  overflow: hidden;
}
.block-title .txt {
  display: inline-block;
  position: relative;
}
.block-title .txt:after {
  content: ".";
}
.block-title .waves {
  margin-right: 5px;
}
.block-title .waves svg {
  width: 25px;
  height: 5px;
}
@media (min-width: 1600px) {
  .block-title .waves svg {
    width: 33px;
    height: 7px;
  }
}
.block-title .waves svg > * {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 5px;
}

.page-home.loading .page {
  transform: translateX(100vw);
}
.page-home .loader {
  transform: translateX(-100vw);
}
@media (min-width: 767px) {
  .page-home .loader {
    transform: translateX(calc(-100vw + 40px));
  }
}
.page-home .loader .color {
  background-color: #ff5851 !important;
}
.page-home .menuColor {
  background: #ff5851;
}
.page-home .link:before {
  background: #ff5851;
}
.page-home .page-color {
  background: #f8f8f8;
  left: 50%;
  height: 250vh;
}
@media (min-width: 767px) {
  .page-home .page-color {
    height: 100vh;
  }
}
.page-home .dot {
  color: #ff5851;
}
.page-home h2 .waves {
  margin-bottom: 30px;
}
.page-home h2 .waves svg {
  width: 50px;
  height: 10px;
}
@media (min-width: 1600px) {
  .page-home h2 .waves svg {
    width: 70px;
    height: 15px;
  }
}
.page-home h2 .waves svg > * {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 5px;
}
.page-home h2 .txt {
  font-size: 6rem;
  line-height: 0.9;
}
@media (min-width: 767px) {
  .page-home h2 .txt {
    font-size: 8rem;
  }
}
@media (min-width: 1200px) {
  .page-home h2 .txt {
    font-size: 10rem;
  }
}
@media (min-width: 1600px) {
  .page-home h2 .txt {
    font-size: 13rem;
  }
}
.page-home h2 .txt div {
  overflow: hidden;
}
.page-home h2 .txt div span {
  display: inline-block;
}
.page-home p.intro,
.page-home .yswyw-content ul.intro,
.yswyw-content .page-home ul.intro {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 900;
  max-width: 240px;
}
@media (min-width: 767px) {
  .page-home p.intro,
  .page-home .yswyw-content ul.intro,
  .yswyw-content .page-home ul.intro {
    font-size: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .page-home p.intro,
  .page-home .yswyw-content ul.intro,
  .yswyw-content .page-home ul.intro {
    font-size: 3.2rem;
  }
}
@media (min-width: 1600px) {
  .page-home p.intro,
  .page-home .yswyw-content ul.intro,
  .yswyw-content .page-home ul.intro {
    font-size: 3.8rem;
  }
}
.page-home p.intro div,
.page-home .yswyw-content ul.intro div,
.yswyw-content .page-home ul.intro div {
  overflow: hidden;
}
.page-home p.intro div span,
.page-home .yswyw-content ul.intro div span,
.yswyw-content .page-home ul.intro div span {
  display: inline-block;
}
.page-home .page > * {
  position: relative;
  z-index: 10;
}
.page-home .page > .intro {
  z-index: 0 !important;
  pointer-events: none;
  background: #ff5851;
  overflow: hidden;
}
@media (min-width: 767px) {
  .page-home .page > .intro {
    background: transparent;
    overflow: visible;
  }
}
.page-home .page > .intro .myname-wrapper {
  position: absolute;
  width: 100%;
}
.page-home.showMyname section.myname > *:not(.myname-scrolldown) {
  transform: translateX(0%);
}
.page-home.showMyname section.myname .myname-scrolldown {
  opacity: 1;
  transform: rotate(-90deg) translateY(-60px);
}
.page-home.showMyname header.header .scrolldown {
  bottom: -100px;
}
.page-home section.myname {
  position: relative;
  z-index: 2 !important;
}
@media (min-width: 767px) {
  .page-home section.myname {
    position: fixed;
    left: 0px;
    right: 0px;
    height: 100vh;
  }
}
.page-home section.myname > .page-color {
  transform: translateX(100%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
}
.page-home section.myname .padding {
  height: 100vh;
  transform: translateX(50%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home section.myname .myname-scrolldown {
  position: absolute;
  z-index: 9;
  line-height: 1;
  opacity: 0;
  transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  pointer-events: none;
  bottom: 110px;
  left: 50%;
  z-index: 101 !important;
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 250ms linear 0ms;
}
@media (min-width: 767px) {
  .page-home section.myname .myname-scrolldown {
    bottom: 90px;
  }
}
.page-home section.myname .myname-scrolldown > * {
  display: inline-block;
  vertical-align: middle;
}
.page-home section.myname .myname-scrolldown > .txt {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 10px;
  color: white;
}
.page-home section.myname .myname-scrolldown > .txt span {
  display: inline-block;
  transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform: translateX(5px);
}
.page-home section.myname .myname-scrolldown .arrow {
  -webkit-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite
    alternate;
  -moz-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
  animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
.page-home section.myname .myname-scrolldown .arrow svg path {
  fill: white;
}
.page-home section.myname h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin-bottom: 0px !important;
}
@media (min-width: 992px) {
  .page-home section.myname h1 {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .page-home section.myname h1 {
    font-size: 16rem;
  }
}
@media (min-width: 1600px) {
  .page-home section.myname h1 {
    font-size: 22rem;
  }
}
@media (max-width: 991px) {
  .page-home section.myname h1 .dot {
    color: white;
  }
}
.page-home section.myname h1 svg {
  width: 200px;
  height: 160px;
}
@media (min-width: 767px) {
  .page-home section.myname h1 svg {
    width: 350px;
    height: 280px;
  }
}
@media (min-width: 1600px) {
  .page-home section.myname h1 svg {
    width: 430px;
    height: 340px;
  }
}
.page-home section.myname h1 svg .line {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 41px;
}
.page-home section.myname h1 svg .dot {
  fill: #ff5851;
}
.page-home section.preambule {
  position: relative;
  z-index: 1 !important;
}
@media (min-width: 767px) {
  .page-home section.preambule {
    position: fixed;
    display: box;
    display: flex;
    box-align: center;
    align-items: center;
    background: #ff5851;
    width: 100%;
    height: 100vh;
  }
}
.page-home section.preambule .block-title {
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, opacity 500ms linear 450ms;
}
@media (max-width: 766px) {
  .page-home section.preambule .padding {
    padding-top: 0px !important;
  }
}
.page-home section.preambule p,
.page-home section.preambule .yswyw-content ul,
.yswyw-content .page-home section.preambule ul {
  font-size: 1.8rem;
  line-height: 1.2;
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  max-width: 200px;
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 150ms, opacity 500ms linear 600ms;
}
@media (min-width: 767px) {
  .page-home section.preambule p,
  .page-home section.preambule .yswyw-content ul,
  .yswyw-content .page-home section.preambule ul {
    max-width: 55%;
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .page-home section.preambule p,
  .page-home section.preambule .yswyw-content ul,
  .yswyw-content .page-home section.preambule ul {
    max-width: 500px;
  }
}
@media (min-width: 1600px) {
  .page-home section.preambule p,
  .page-home section.preambule .yswyw-content ul,
  .yswyw-content .page-home section.preambule ul {
    font-size: 3.2rem;
    max-width: 700px;
  }
}
.page-home section.preambule p br,
.page-home section.preambule .yswyw-content ul br,
.yswyw-content .page-home section.preambule ul br {
  display: none;
}
@media (min-width: 767px) {
  .page-home section.preambule p br,
  .page-home section.preambule .yswyw-content ul br,
  .yswyw-content .page-home section.preambule ul br {
    display: block;
  }
}
.page-home section.preambule p div,
.page-home section.preambule .yswyw-content ul div,
.yswyw-content .page-home section.preambule ul div {
  overflow: hidden;
}
.page-home section.preambule p div span,
.page-home section.preambule .yswyw-content ul div span,
.yswyw-content .page-home section.preambule ul div span {
  display: inline-block;
}
.page-home section.preambule p strong,
.page-home section.preambule .yswyw-content ul strong,
.yswyw-content .page-home section.preambule ul strong {
  display: inline;
  color: #1c1b20;
  font-weight: 700;
}
.page-home .video-container {
  background: #f8f8f8;
  transform: translate3D(0, 0, 0);
}
@media (min-width: 767px) {
  .page-home .video-container {
    margin-top: 200vh;
  }
}
.page-home .video-container img {
  display: block;
}
@media (max-width: 766px) {
  .page-home .video-container img {
    transform: translateY(0%) !important;
  }
}
.page-home section.vision {
  background: #f8f8f8;
}
.page-home section.vision h2 {
  color: #ff5851;
  margin-bottom: 40px;
}
.page-home section.vision h2 .waves svg > * {
  stroke: #ff5851;
}
@media (min-width: 767px) {
  .page-home section.vision h2 {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .page-home section.vision h2 {
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .page-home section.vision .block-content {
    float: left;
    width: 45%;
    padding-right: 80px;
  }
}
@media (min-width: 1200px) {
  .page-home section.vision .block-content {
    width: 40%;
    padding-right: 12%;
  }
}
.page-home section.vision .block-content p.intro,
.page-home section.vision .block-content .yswyw-content ul.intro,
.yswyw-content .page-home section.vision .block-content ul.intro {
  max-width: 275px;
}
@media (min-width: 1200px) {
  .page-home section.vision .block-content p.intro,
  .page-home section.vision .block-content .yswyw-content ul.intro,
  .yswyw-content .page-home section.vision .block-content ul.intro {
    max-width: 100%;
  }
}
.page-home section.vision .skills-container {
  padding: 60px 40px;
  background: #1c1b20;
  color: white;
  margin-top: 60px;
  margin-right: -40px;
  margin-left: -40px;
  position: relative;
}
@media (max-width: 766px) {
  .page-home section.vision .skills-container {
    transform: translate(0px, 0px) !important;
  }
}
@media (min-width: 480px) {
  .page-home section.vision .skills-container {
    padding: 60px 15vw;
    margin-right: -15vw;
    margin-left: -15vw;
  }
}
@media (min-width: 767px) {
  .page-home section.vision .skills-container {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .page-home section.vision .skills-container {
    margin-left: 45%;
    padding: 60px;
  }
}
@media (min-width: 1200px) {
  .page-home section.vision .skills-container {
    margin-left: 40%;
    padding: 82.5px;
    margin-right: -165px;
  }
}
.page-home section.vision .skills-container .row > *:nth-child(n + 2) {
  margin-top: 40px;
}
@media (min-width: 480px) {
  .page-home section.vision .skills-container .row > *:nth-child(n + 2) {
    margin-top: 0px;
  }
}
@media (min-width: 480px) {
  .page-home section.vision .skills-container .row > *:nth-child(n + 3) {
    margin-top: 50px;
  }
}
.page-home section.vision .skills-container h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
}
@media (min-width: 1600px) {
  .page-home section.vision .skills-container h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.page-home section.vision .skills-container h3 .waves svg {
  width: 20px;
  height: 4px;
  margin-bottom: 12px;
}
@media (min-width: 1600px) {
  .page-home section.vision .skills-container h3 .waves svg {
    width: 25px;
    height: 5px;
  }
}
.page-home section.vision .skills-container h3 .waves svg > * {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}
.page-home section.vision .skills-container p,
.page-home section.vision .skills-container .yswyw-content ul,
.yswyw-content .page-home section.vision .skills-container ul {
  color: #4c4a57;
  font-size: 1.2rem;
}
@media (min-width: 767px) {
  .page-home section.vision .skills-container p,
  .page-home section.vision .skills-container .yswyw-content ul,
  .yswyw-content .page-home section.vision .skills-container ul {
    font-size: 1.6rem;
  }
}
.page-home section.vision .skills-container.animated:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  bottom: -10px;
  background: #f8f8f8;
  transform: translate3D(0px, 0px, 0px);
}
.page-home section.vision .skills-container.animated .skills {
  transform: translateX(-40px);
}
.page-home section.vision .skills-container.animated.visible:after {
  width: 0%;
  transition: width 1200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home section.vision .skills-container.animated.visible .skills {
  transform: translateX(0%);
  transition: transform 1200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}