html {
  font-size: 62.5%;
  margin-top: 0px !important;
}
body {
  height: 100%;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: #1c1b20;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}
body.loading {
  overflow: hidden;
}
body.loading > * {
  pointer-events: none;
}
h1 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 8rem;
  margin-bottom: 40px;
  position: relative;
}
h2 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 3.2rem;
}
h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 40px;
  line-height: 1.2;
  font-size: 2.4rem;
}
header.header .scrolldown,
header.header .scrolltop {
  position: fixed;
  z-index: 9;
  line-height: 1;
  transform: rotate(-90deg);
  pointer-events: none;
  bottom: 25px;
  left: -5px;
  z-index: 101 !important;
  transition: color 150ms linear 0ms, opacity 250ms linear 0ms;
}
header.header .list-socials {
  padding: 0px;
  margin: auto;
  list-style: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 20px;
  z-index: 500;
  transform: translate(50%, -50%);
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.menuOpen header.header .list-socials {
  transform: translate(-10px, -50%);
}
#menu .list-socials li {
  display: inline-block;
}
.list-socials li a {
  line-height: 50px;
  display: block;
  text-align: center;
}
.list-socials li a .icon {
  display: inline-block;
  vertical-align: middle;
}
.list-socials li a .icon img {
  width: 30px;
  height: 30px;
}
footer.footer {
  position: relative;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 40px;
  z-index: 0;
}
footer.footer .padding {
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}
.borders > * {
  position: fixed;
  z-index: 100;
  background: white;
  height: 20px;
  width: 20px;
  pointer-events: none;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform-origin: center center;
  transform: translate(0, 0) scale(1);
}
.borders > *.top {
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: top center;
}
.borders > *.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  transform-origin: bottom center;
}

.borders > *.right {
  top: 0;
  right: 0;
  height: 100%;
  transform-origin: right center;
}
.borders > *.left {
  top: 0;
  left: 0;
  height: 100%;
}
.app {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center 50vh;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  pointer-events: none;
  min-height: 100vh;
}
body:not(.page-home).menuOpen .app {
  overflow: hidden;
  transform: scale(0.9);
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  transition-duration: 500ms;
}
.page-container {
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  pointer-events: all;
  min-height: 100vh;
}
body.menuOpen .page-container {
  pointer-events: none;
}
.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
  opacity: 1;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms,
    opacity 250ms cubic-bezier(1, 0, 0, 1) 0ms,
    visibility 1000ms cubic-bezier(1, 0, 0, 1) 0ms;
  visibility: hidden;
}
.loader .color {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.page {
  position: relative;
  min-height: 100vh;
  z-index: 10;
  overflow: hidden;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms,
    padding 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}
.page > section.intro h1 {
  margin-bottom: 60px;
}
.page > section.intro > .padding {
  padding-top: 30vh;
  padding-bottom: 60px;
}
.padding {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 60px 40px;
}
.padding a {
  pointer-events: all;
}
.page-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
.hideNav .borders > *.top,
.first .borders > *.top {
  transform: translate(0, -100%) scale(1);
}
.hideNav .borders > *.bottom,
.first .borders > *.bottom {
  transform: translate(0, 100%) scale(1);
}
.hideNav .borders > *.left,
.first .borders > *.left {
  transform: translate(-100%, 0%) scale(1);
}
.hideNav .borders > *.right,
.first .borders > *.right {
  transform: translate(100%, 0%) scale(1);
}
.hideNav #menu,
.first #menu {
  left: 0px;
}
.hideNav header.header .navbar-brand,
.first header.header .navbar-brand {
  transform: translate(0px, 10px);
}
.hideNav header.header .navbar-brand .sub-page,
.first header.header .navbar-brand .sub-page {
  opacity: 0;
  transition-delay: 0ms;
}
.hideNav header.header .navbar-toggle,
.first header.header .navbar-toggle {
  transform: translateY(-100px);
}
.hideNav header.header .switch-lang,
.first header.header .switch-lang {
  transform: translateY(-60px);
}
.hideNav header.header .list-socials,
.first header.header .list-socials {
  transform: translateX(60px);
}
.loadProject header.header .navbar-toggle {
  transform: translateY(-100px);
}
.first header.header .navbar-brand {
  transform: translate(0px, -40px);
  opacity: 0;
}
.first header.header .scrolldown {
  opacity: 0 !important;
}
@keyframes bounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
.icon {
  display: block;
}
.icon svg {
  display: block;
}
.icon.waves path {
  fill: #1c1b20;
}
img.img-fluid {
  width: 100%;
}
img.lazy {
  opacity: 0;
  transition: opacity 400ms linear 50ms;
}
img.lazy.lazyloaded {
  opacity: 1;
}
.phone_portrait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 24000;
  display: none;
}
.block-title {
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 25px;
}
.block-title > * {
  display: inline-block;
  vertical-align: middle;
}
.block-title .mskd {
  overflow: hidden;
}
.block-title .txt {
  display: inline-block;
  position: relative;
}
.block-title .txt:after {
  content: ".";
}
.page-home.loading .page {
  transform: translateX(100vw);
}
.page-home .loader {
  transform: translateX(-100vw);
}
.page-home .loader .color {
  background-color: #6767ff !important;
}
.page-home .page-color {
  background: #f8f8f8;
  left: 50%;
  height: 250vh;
}
.page-home h2 .waves svg {
  width: 50px;
  height: 10px;
}
.page-home h2 .waves svg > * {
  fill: none;
  stroke: #1c1b20;
  stroke-width: 5px;
}
.page-home h2 .txt {
  font-size: 10rem;
  line-height: 0.9;
}
.page-home .page > * {
  position: relative;
  z-index: 10;
}
.page-home .page > .intro {
  z-index: 0 !important;
  pointer-events: none;
  background: #6767ff;
  overflow: hidden;
}
.page-home .page > .intro .myname-wrapper {
  position: absolute;
  width: 100%;
}
.page-home.showMyname section.myname > *:not(.myname-scrolldown) {
  transform: translateX(0%);
}
.page-home.showMyname section.myname .myname-scrolldown {
  opacity: 1;
  transform: rotate(-90deg) translateY(-60px);
}
.page-home.showMyname header.header .scrolldown {
  bottom: -100px;
}
.page-home section.myname {
  position: relative;
  z-index: 2 !important;
}
.page-home section.myname > .page-color {
  transform: translateX(100%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 50ms;
}
.page-home section.myname .padding {
  height: 100vh;
  transform: translateX(50%);
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.page-home section.myname .myname-scrolldown {
  position: absolute;
  z-index: 9;
  line-height: 1;
  opacity: 0;
  transform: rotate(-90deg) translateY(-60px) translateX(-100px);
  pointer-events: none;
  bottom: 110px;
  left: 50%;
  z-index: 101 !important;
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 250ms linear 0ms;
}
.page-home section.myname .myname-scrolldown > * {
  display: inline-block;
  vertical-align: middle;
}
.page-home section.myname .myname-scrolldown > .txt {
  font-weight: 700;
  font-size: 13px;
  margin-left: 10px;
  color: white;
}
.page-home section.myname .myname-scrolldown > .txt span {
  display: inline-block;
  transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform: translateX(5px);
}
.page-home section.myname .myname-scrolldown .arrow {
  animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
.page-home section.myname .myname-scrolldown .arrow svg path {
  fill: white;
}
.page-home section.myname h1 {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin-bottom: 0px !important;
}
.page-home section.preambule {
  position: relative;
  z-index: 1 !important;
}
.page-home section.preambule .block-title {
  transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1) 0ms,
    opacity 500ms linear 450ms;
}
.page-home section.preambule .block-title .txt {
  font-size: 2em;
  display: block;
  text-align: start;
  position: relative;
}
.page-home section.preambule .block-title .qualities_container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.page-home section.preambule .block-title .qualities_container .qualities {
  font-family: 'Roboto Mono', monospace;
  font-size: 28px;
  color: #FAFAFA;
}
.dud {
  color: #FAFAFA;
}

.page-home .video-container {
  background: #f8f8f8;
  transform: translate3D(0, 0, 0);
}
.page-home .video-container img {
  display: block;
}
.page-home section.vision {
  background: #f8f8f8;
}
