:root {
  --accent-color: #6767ff;
  --page-color: #f8F8F8;
  --border-color: #ffffff;
}

html {
  font-size: 62.5%;
  margin-top: 0px !important;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: #1c1b20;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}
body.loading {
  overflow: hidden;
}
body.loading > * {
  pointer-events: none;
}
/*--Headings--------------------------------------------------------------------------------------------------------------------------------*/
h1 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 8rem;
  margin-bottom: 40px;
  position: relative;
}
h2 {
  line-height: 0.6;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  font-size: 3.2rem;
}
h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 4rem;
}
h4 {
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  margin: 0px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: clamp(1.2rem, 2.5vw, 5rem);
}

/*--Linkedn Facebook Github-----------------------------------------------------------------------------------------------------------------*/
header.header .list-socials {
  padding: 0px;
  margin: auto;
  list-style: none;
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 500;
  transform: translate(50%, -50%);
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}
.list-socials li a {
  line-height: 50px;
  display: block;
  text-align: center;
}
.list-socials li a .icon {
  display: inline-block;
  vertical-align: middle;
}
.list-socials li a .icon img {
  width: 30px;
  height: 30px;
}
.list-socials li a .icon img:hover {
  transform: scale(1.2);
}

/*--Footer----------------------------------------------------------------------------------------------------------------------------------*/
footer.footer {
  position: relative;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 40px;
  z-index: 0;
  background-color: var(--accent-color);
}
footer.footer .padding {
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*--White edge borders----------------------------------------------------------------------------------------------------------------------*/
.borders > * {
  position: fixed;
  z-index: 100;
  background: #ffffff;
  height: 20px;
  width: 20px;
  pointer-events: none;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform-origin: center center;
  transform: translate(0, 0) scale(1);
}
.borders > *.top {
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(40px, 3vw, 60px);
  transform-origin: top center;
}
.borders > *.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(40px, 3vw, 60px);
  transform-origin: bottom center;
}
.borders > *.right {
  top: 0;
  right: 0;
  width: clamp(40px, 3vw, 60px);
  height: 100%;
  transform-origin: right center;
}
.borders > *.left {
  top: 0;
  left: 0;
  width: clamp(40px, 3vw, 60px);
  height: 100%;
  transform-origin: left center;
}
.page-container {
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  pointer-events: all;
  min-height: 100vh;
}
.page {
  position: relative;
  min-height: 100vh;
  z-index: 10;
  overflow: hidden;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1) 0ms,
    padding 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

/*--Left side of the intro------------------------------------------------------------------------------------------------------------------*/
.page-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.page-home .page-color {
  background: #f8f8f8;
  left: 50%;
}

/*--Home page-------------------------------------------------------------------------------------------------------------------------------*/
.page-home .page > * {
  position: relative;
  z-index: 10;
}
.page-home.showMyname section.myname > *:not(.myname-scrolldown) {
  transform: translateX(0%);
}
.page-home.showMyname section.myname .myname-scrolldown {
  opacity: 1;
  transform: rotate(-90deg) translateY(-60px);
}
.page-home.showMyname header.header .scrolldown {
  bottom: -100px;
}
.page-home section.myname {
  position: relative;
  z-index: 2 !important;
}

/*--Scrolldown text & arrow-----------------------------------------------------------------------------------------------------------------*/
.page-home section.myname .myname-scrolldown {
  position: absolute;
  z-index: 9;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  bottom: 110px;
  left: 50%;
  z-index: 101 !important;
  margin-bottom: 30px;
}
.page-home section.myname .myname-scrolldown > * {
  display: inline-block;
  vertical-align: middle;
}
.page-home section.myname .myname-scrolldown > .txt {
  font-weight: 700;
  font-size: 13px;
  margin-left: 10px;
  color: white;
}
.page-home section.myname .myname-scrolldown > .txt span {
  display: inline-block;
  transition: transform 400ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transform: translateX(5px);
}
.page-home section.myname .myname-scrolldown .arrow {
  animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}
.page-home section.myname .myname-scrolldown .arrow svg path {
  fill: white;
}
/* Makes the arrow of the scroll text bounce up and down */
@keyframes bounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}

/*--Luca Rottiers---------------------------------------------------------------------------------------------------------------------------*/
.page-home section.myname h1 {
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-home section.myname h1 .console-container {
  font-family: "Gilroy", sans-serif;
  font-size: 1em;
  color: black;
  z-index: -1;
  white-space: nowrap;
}
.page-home section.myname h1 .console-container.hide {
  opacity: 0;
}
.page-home section.myname h1 .console-container.show {
  opacity: 1;
}
.page-home section.myname h1 .console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

/*--Preambule-------------------------------------------------------------------------------------------------------------------------------*/
.page-home section.preambule .block-title .qualities-container {
  display: flex;
  margin: 20px;
}
.page-home section.preambule .block-title .qualities-container .qualities {
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #fafafa;
}


/*--Intro with qualities and about me-------------------------------------------------------------------------------------------------------*/
.padding {
  padding: 100px 10vw;
  /* background-color: green; */
}

.block-title {
  display: flex;
  font-weight: 300;
  /* background-color: red; */
}
.block-title .block-title-text {
  /* background-color: yellow;
  opacity: 0.5; */
  margin: auto;
}
.block-title .block-title-text .aboutme {
  text-align: justify;
  font-size: clamp(1.5rem, 1vw, 2rem);
  color: var(--border-color);
}
.block-title .profile-picture-container {
  margin-left: 5vw;
}
.block-title .profile-picture-container .profile-picture {
  height: clamp(150px, 25vw, 500px);
  width: clamp(150px, 25vw, 500px);
}

/*--Banner with cables----------------------------------------------------------------------------------------------------------------------*/


/*--Cross Section--------------------------------------------------------------------------------------------------------------------------*/
.container {
  padding: 2rem;
  padding-bottom: 20rem;
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-home section.skills, .page-home section.projects {
  background: var(--page-color);
}
.page-home h2 .txt {
  font-size: 10rem;
  line-height: 0.9;
}
.page-home h2 .txt .dot {
  color: var(--accent-color);
}

/*--Projects Section--------------------------------------------------------------------------------------------------------------------------*/
.page-home .project-banner-container {
  background: var(--page-color);
  background-image: url(/img/interconnection-services-scaled.jpg);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .container .timeline {
  position: relative;
  min-height: 15rem;
}
.projects .container .timeline .line {
  background-color: black;
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -5rem;
  bottom: -5rem;
  display: none;
}
.projects .container .timeline .line::before,
.projects .container .timeline .line::after {
  background-color: var(--color-black);
  position: absolute;
  display: block;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.projects .container .timeline .line::after {
  bottom: 0;
}
.projects .container .timeline .section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  align-items: center;
  min-height: 30rem;
}
.projects .container .timeline .section .date {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: var(--accent-color);
}
.projects .container .timeline .section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
  text-align-last: left;
}
.projects .container .timeline .section:nth-child(even) {
  text-align-last: right;
}
.projects .container .timeline .section .bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
.projects .container .timeline .section .content {
  width: calc(50% - 2rem);
}
.projects .container .timeline .section .content p {
  text-align: justify;
  text-justify: inter-word;
}
.projects .container .timeline .show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}
/*--Soft Skills Section--------------------------------------------------------------------------------------------------------------------------*/
#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}
.pin-wrap {
  height: 100vh;
  display: flex;
}
.soft-skills-intro {
  width: 100vw;
  height: 100vh;
  float: left;
  background-image: url(/img/softskills.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.soft-skills-intro-text {
  display:none;
}
canvas {
  width:100vw;
  height:100vh;
  background-image: url(/img/softskills.jpg);
}
.soft-skills-one, .soft-skills-two, .soft-skills-three {
  width: 100vw;
  height: 100vh;
  background-color: var(--page-color);
  float: left;
}

/*--Skills Section--------------------------------------------------------------------------------------------------------------------------*/
.page-home .skills-banner-container {
  background: var(--page-color);
  background-image: url(/img/istockphoto-1271408351-170667a.jpeg);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.grid > article {
  border: 1px solid var(--page-color);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.grid > article img {
  max-width: 100%;
}
.grid > article i {
  font-size: 48px;
  line-height: 80px;
  height: 80px;
  width: 80px;
  border: 6px solid var(--border-color);
  border-radius: 20%;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--border-color);
  margin-top: -36px;
}
.grid .text {
  padding: 16px 20px 30px;
}
.grid .barline {
  height: 12px;
  background: #c8d6e5;
  border-radius: 20px;
  margin-top: 10vh;
}
.grid .barline .countbar {
  height: 12px;
  background: var(--accent-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}
.grid .barline .countbar h3 {
  position: absolute;
  right: -19px;
  top: -35px;
  background: var(--accent-color);
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--border-color);
  border-radius: 5px;
}
.grid .barline .countbar h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 11px;
  height: 11px;
  background: var(--accent-color);
  transform: rotate(45deg) translateX(-60%);
}

/*--Footer--------------------------------------------------------------------------------------------------------------------------*/
div[class*=box] {
  display: flex;
  align-items: center;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
	color: var(--border-color);
	transition: all 0.5s;
	position: relative;
}
.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
